<main class="p-5">
    <div class="card p-5 ">
        <p>Shevtsov gf</p>

    </div>
    <div class="card p-5 ">
        <pre>ohevtsov				oleksander					sdfdsdf					dfdfsdfsdf</pre>

    </div>
    <div class="gh">Block super</div>
    <div>Block super</div>
    <div>Block super</div>
    <div>Block super</div>
    <div>Block super</div>
    <div>Block super</div>

    <div style="padding:10px 20px 0 100px; background:gray; ">
       
        <span>Standart</span>
        <span>Standart</span>
        <span>Standart</span>
        <span class="span_inline">inlain-block sdffdfdfsdf sdfsd</span>
    </div>

    {{!-- <span class="span_inline">inlain-block</span>
    <span>Standart</span>
    <span>Standart</span>
    <span>Standart</span>
    <span class="span_inline">inlain-block</span>

    <div>Block super</div> --}}

</main>