{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <a  href="#test">dfggdf</a>
    <a class="link" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjj_cyMksD_AhUeC6IDHeM2DUAYABAAGgJsZQ&ohost=www.google.com&cid=CAESauD20sl4winZENHe6K2c7P9I1BNnd1hOA3cLHIVutLhwx9QOufl8heApU2fcg2PfJkQs2PAiuE577mwh9r0-NhTFOE1GEY446bvxQvWJM5rJur1JfqmZyJe6nxP-mliwVDTUJkM8wyY7hg4&sig=AOD64_09IKEwqKqksOOZyoBD1XpUo0SgFw&q&adurl&ved=2ahUKEwjJ-cWMksD_AhWrlosKHUBICRMQ0Qx6BAgLEAE">Scarupa</a>

    <button type="button" class="btn btn-primary">Купити</button>
</div>

<div class="card p-5 m-5 card-dark">
    <input class="input-dark" tex>
    <input class="input-dark">
    <input class="input-dark" type="number" placeholder="UIOYUITYYUT">

</div>

<div class="card p-5 m-5 card-dark">
    <img src="https://picsum.photos/200/300" class="img" alt="#" height="100px">
    <img src="https://picsum.photos/200/300" class="img" alt="# 5" height="100px">
    <button class="btn">55555</button>
    <button class="btn btn-primary">55555</button>
    <button class="btn btn-primary">55555</button>
</div>
<div class="card p-5 m-5 card-dark">
    <p class="par">JLGHLG JGLHGLJG LHLGYFLFLG LJHLGHHGHJGHjhghjgkjhgkhjgkhjg</p>
    <p id="test" class="para">JLGHLG JGLHGLJG LHLGYFLFLG LJHLGHHGHJGHjhghjgkjhgkhjgkhjg</p>

</div>


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}