:root {
  --primery-fon:#ffff;
  --border:  #0a253f;
  --accent: #6C757D;
  --text-color: #212529;
  --text-color-l:#343A40;
  --color-primary:#563D7C;

  --size24:24px;
  --size12:12px;
  --size36:36px;

}

.page{
  background-color: var(--primery-fon);
  display: flex; 
  justify-content: center;
  padding: 15px;
 
}


.page-content{
  display: flex;
  flex-direction: column;  
  gap: 80px;
  max-width: 960px;
  width:100%;
  font-family: "Roboto";
 

}

.header{
  display: flex;
  align-items: center;  
  padding: var(--size24);
  justify-content: space-between;
  border-bottom: var(--border ) solid 1px;
}

.nav-inline{
  display: flex;
  gap: var(--size24);
}

.nav-vertical{
  display: flex;
  flex-direction: column; 
  gap:var(--size12);
}


.nav-link{ 
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color-l);
  padding: 0;}

.nav-link:hover{
  text-decoration: underline;
  color: var(--color-primary);;
}
 

.logo{
  font-size: 17px;
  color: var(--primery-fon);
  background-color: var(--color-primary);
  width: var(--size24);
  height: var(--size24);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.divider{
  height: 1px;
  background-color:var(--border);
  margin: 0;
}


 
footer {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 0 ;  
  border-top: var(--border ) solid 1px;
  
}

.copyright{
  font-size: 14px;
  color: var(--accent);
  display: block;
  margin-top:var(--size24);
}

.foot-title{
  color: var(--text-color);
  font-size: 20px;
  display: block;
  font-weight: 500; 
  line-height: 200%; 
}

.hero { 
  display: flex;
  gap: 36px;
  align-items: center;
  padding-bottom: var(--size36);
  border-bottom: var(--border ) solid 1px;

}

.hero-content{
  display: flex;
  flex-direction: column; 
  gap: var(--size24);
 
  
  
  }

  .hero-title{
  font-size: 50px;
  font-weight: 500;
  line-height: 120%;
  color: var(--text-color);
}

.hero-p{
  font-size: 20px;
  font-weight: 400;
  line-height: 170%;
  color: var(--text-color-l);
}

.hero-picture{
  border-radius: var(--size12);
}

main{
  display: flex;
  gap: var(--size36);
  justify-content:space-evenly;
  padding-bottom: var(--size36);
  border-bottom: var(--border ) solid 1px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--size24);
  
}

.card-img{
  width: 140px;
  height: 140px;
  border-radius: 50%;

}

.card-title{
  font-size: 32px;
  font-weight: 500;
  color: var(--text-color);
}

.card-p { 
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-color-l);
}

.card-button {
  display: inline-block;
  padding: 16px 12px;
  border-radius: 4px;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--primery-fon);
}

.card-button:hover {
  opacity: 0.7;
}

.form{
  display: flex;
  justify-content: space-around;
  gap: var(--size24);
 
  
}

.form-item{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: var(--size24);
  border-radius: var(--size12);
  align-items: center;
 
}

.form-title{
  color: var(--primery-fon);
  font-size: 27px;
  font-weight: 400;
}

.form-button{
  width: 100%;
  max-width: 160px;
  background-color: var(--primery-fon);
  text-decoration: none;
  text-align: center;
  padding: 12px 50px;
  font-size: 18px;
  font-weight: 400;
}
h1,p{
  margin: 0;
}