<div class="card">
    <div class="card_img"><img src="{{photo}}" alt="card-foto" class="img"></div>
    <div class="card_title">{{name}}</div>
    <div class="card_text">{{description}}</div>
    <button class="card-button">Read All</button>
    {{#if isNew}}
    <button class="card_new">NEW</button>
    {{/if}}
</div>