
<div class="nav {{#if isVertical}}nav-vertical{{else}}nav-inline{{/if}}">
    <span class="foot-title">{{title}}</span>
     {{#each list}}
    <a href="{{url}}" class="nav-link">{{text}}</a>
    {{/each}}
</div>